main{
	border-top: 5px solid black;
}
.joejohnson {
	text-align: center;
	border-top: 5px solid black;
}
.primaryresume{
	text-align: left;
}
.headshot{
	   text-align: right;
	   vertical-align: auto;
	}
.socialmedia{
	text-align: center;
}
.edges{
	width:100%;
	color:black;
}
.middlebreak{
	width: 100%;
}
hr{
	clear: both;
}